.content{
    height: 500px;
    margin: 0 auto;

    .flex-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: 80px;
        padding: 50px;


        .boxOne, .boxTwo, .boxThree{
            width: 400px;
            height: 300px;
            
        }


        .boxOne{
            background-color: lightblue;

            h2{
                color: white;
                border: solid 2px black;
                border-radius: 0 20px 0 0;
                background-color: black;
                opacity: .3;
                width: 250px;
                height: 50px;
                font-family: PTReg;
            }

            p{
                width: 250px;
                font-size: 16px;
                float: right;
                color: white;
                font-family: PTReg;
            }
            
            i{
                position: relative;
                top: 50px;
                right: -30px;
                font-size: 64px;
                float: left;
                color: white;

            }
        }

        .boxTwo{
            background-color: red;

            h2{
                color: white;
                border: solid 2px black;
                border-radius: 0 20px 0 0;
                background-color: black;
                opacity: .3;
                width: 250px;
                height: 50px;
                font-family: PTReg;
            }

            p{
                width: 250px;
                font-size: 16px;
                float: right;
                color: white;
                font-family: PTReg;
            }
            
            i{
                position: relative;
                top: 50px;
                right: -30px;
                font-size: 64px;
                float: left;
                color: white;
            }

        }

        .boxThree{
            background-color: grey;

            h2{
                color: white;
                border: solid 2px black;
                border-radius: 0 20px 0 0;
                background-color: black;
                opacity: .3;
                width: 250px;
                height: 50px;
                font-family: PTReg;
            }

            p{
                width: 250px;
                font-size: 16px;
                float: right;
                color: white;
                font-family: PTReg;
            }

            
                i{
                    position: relative;
                    top: 50px;
                    right: -30px;
                    font-size: 64px;
                    float: left;
                    color: white;

                }
            
        }
      
    }
  
}